[isp_watchdog]
API_Key = 

#Specify your variable ID from Ubidots and the subsequent IP Address

#DNS
Variable_1 = 
IP_1 = 8.8.8.8

#Gateway
Variable_2 = 
IP_2 = 192.168.0.1

#Remote Server
Variable_3 = 
IP_3 = 192.168.10.1
